<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community backlogs</title>
</head>
<body>
    <h1>Browse community backlogs</h1>
    <% allBacklogs.forEach((oneBacklog) => { %>
        <div>
            <h3>Made by: <%= oneBacklog.user.username %></h3>
        <p>Game: <%= oneBacklog.game %></p>
        <p>Genre: <%= oneBacklog.genre %></p>
        <p>Description: <%= oneBacklog.description %></p>
        <p>Game complete? : <%= oneBacklog.status %></p>
        </div>
    <% }); %>
</body>
</html>