<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User backlog</title>
</head>
<body>
    <h1><%= foundUser.username %>'s backlog</h1>
    <% allUserBacklogs.forEach((backlog) => { %>
        <p>Game: <%= backlog.game %></p>
        <p>Genre: <%= backlog.genre %></p>
        <p>Description: <%= backlog.description %></p>
        <p>Game completed? - (<%= backlog.status %>)</p>
        <% }) %>
</body>
</html>